<h1>店舗登録画面</h1>

    <%= form_with  model: @shop, local: true do |f| %>
  <div class="field">
    <%= f.label :shop_name, "店舗の名称" %><br />
    <%= f.text_field :shop_name %>
  </div>

    <div class="field">
    <%= f.label :images, "トップ写真" %><br />
    <%= f.file_field :images %>
  </div>

      <div class="field">
    <%= f.label :video, "動画" %><br />
    <%= f.file_field :video %>
  </div>

  <div class="field">
    <%= f.label :genre_id, "ジャンル" %><br />
    <%= f.text_field :genre_id, class: :form__text %>
  </div>

  <div class="field">
    <%= f.label :phone, "店舗電話番号" %><br />
    <%= f.text_field :phone, class: :form__text %>
  </div>

  <div class="field">
    <%= f.label :prefecture_id, "都道府県" %><br />
    <%= f.text_field :prefecture＿id %>
  </div>

    <div class="field">
    <%= f.label :address, "住所" %><br />
    <%= f.text_area :address, class: :form__text %>
  </div>

    <div class="field">
    <%= f.label :traffic, "店舗までの交通情報" %><br />
    <%= f.text_area :traffic, class: :form__text %>
  </div>

    <div class="field">
    <%= f.label :operating_hours, "営業時間" %><br />
    <%= f.text_area :operating_hours, class: :form__text %>
  </div>

    <div class="field">
    <%= f.label :budget_id, "予算" %><br />
    <%= f.text_area :budget_id, class: :form__text %>
  </div>

    <div class="field">
    <%= f.label :seat, "席数" %><br />
    <%= f.text_field :seat, class: :form__text %>
  </div>

    <div class="field">
    <%= f.label :other, "その他" %><br />
    <%= f.text_area :other, class: :form__text %>
  </div>

  <div class="actions">
    <%= f.submit "登録する", class: :form__btn  %>
  </div>
<% end %>

  <%= render "shared/footer" %>