  <%= link_to image_tag("logo_5.png", class:"header-logo"), root_path %>

<div class='shop-contents'>
    <ul class='shop-lists'>
    <% @favorites.each do |favorite| %>
    <li class='shop-list'>
      <%#= link_to shop_path(shop_id) do %>
        <%= image_tag favorite.shop.images[0], class: "shop-img" %>
        <div class='shop-info'>
          <div class="shop-name">
            <%= link_to favorite.shop.shop_name, shop_path(favorite.shop), class: :shop_name %>
          </div>
            <div class="shop-address">
              <%= favorite.shop.traffic%> / <%= favorite.shop.genre.name %>
              <div class='review'>
                <span id="star-rate<%= favorite.shop.id%>"></span> 
              <script>
                $('#star-rate<%= favorite.shop.id%>').raty({
                size      : 36,
                starOff   : '<%= asset_path('star-off.png') %>',
                starOn    : '<%= asset_path('star-on.png') %>',
                starHalf: '<%= asset_path('star-half.png') %>',
                half: true,
                readOnly: true,
                score: <%= favorite.shop.reviews.average(:rate).to_f.round(2) %>,
                });
              </script>
              <p class="review-average">
              <%= favorite.shop.reviews.average(:rate).to_f.round(2) %></P>
              <p class="review-count">
              (<%= favorite.shop.reviews.count%>件)</p>
              </div>
              <div class="shop-budget">
                予算 : <%= favorite.shop.budget.name%>
              </div>
              <div class="shop-operating-hours">
              営業時間: <%=favorite.shop.operating_hours %>
              </div>
              <div class="shop-seat">
              席数: <%= favorite.shop.seat%>席
              </div>
              <div class="shop-other">
              <%=favorite.shop.other%>
              </div>
            </div>
        </div>
      </li>
      <% end %>
    </ul>
  </div>

  <%= render "shared/footer" %>