<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='nav'>
    <ul class='lists-left'>
      <li><%= link_to 'エリア', "#", class: "area-list" %></li>
      <li><%= link_to 'ジャンル', "#", class: "jenre-list" %></li>
    </ul>
    <ul class='lists-right'>
    <% if user_signed_in? %>
      <li><%= link_to '保存済み', "#", class: "save" %></li>
      <li><%= link_to 'マイページ', users_show_path(current_user), class: "mypage" %></li>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
      <% else %>
      <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
      <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
      <% if operation_signed_in? %>
      <li><%= link_to 'クライアント登録', new_owner_registration_path, class: "sign-up" %></li>
      <li><%= link_to 'ログアウト', destroy_operation_session_path, method: :delete, class: "logout" %></li>
      <% end %>
    </ul>
  </div>
</header>