<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='nav'>
    <ul class='lists-left'>
      <li><%= link_to 'エリア', "#", class: "area-list" %></li>
      <li><%= link_to 'ジャンル', "#", class: "jenre-list" %></li>
    </ul>
    <ul class='lists-right'>
      <%# <li><%= link_to current_user.nickname, "#", class: "user-nickname" </li> %>
      <%# <li><%= link_to 'ログアウト', "#", method: :delete, class: "logout" </li> %>
      <li><%= link_to '保存済み', "#", class: "save" %></li>
      <li><%= link_to 'マイページ', "#", class: "mypage" %></li>
      <li><%= link_to 'ログイン', "#", class: "login" %></li>
      <li><%= link_to '新規登録', "#", class: "sign-up" %></li>
    </ul>
  </div>
</header>