<%= render "shared/header" %>

<div class='main'>


  <%# 画面上部の「画像スクロール」部分 %>
<div class = "image-content">
<%= link_to( shops_path, class: 'purchase-btn') do %>
<div><%= image_tag "logo.png", class:"image" %></div>
<% end %>
<div><%= image_tag "img_4000.png", class:"image" %></div>
<div><%= image_tag "img_2781.png", class:"image" %></div>
</div>

<%# 画面上部の「画像スクロール」部分 %>

  <%# 画面上部の「検索窓」部分 %>
<div class='search-bar-contents'>
  <div class='select-index'>
  <h2 class='title'>
    キーワードから探す
  </h2>
  </div>
  <div>
    <%= search_form_for @p, url: shops_search_path, class: "search-form" do |f| %>
      <%= f.text_field :traffic_cont, class: 'input-box' ,placeholder: 'エリア・駅 [ 例: 渋谷、新橋 ] ' %>
      <%= f.text_field :shop_name_cont, class: 'input-box' ,placeholder: 'キーワード [ 例: 居酒屋 個室 ] ' %>
    <br>
    <%= image_submit_tag ("search.png"), class:"search-button" %>
    <% end %>
  </div>
</div>

  <%# /画面上部の「検索窓」帯部分  %>

  <%# エリアから探す部分 %>
  <div class='select-index'>
    <h2 class='title'>
      エリアから探す
    </h2>
    <ul class='area-lists'>
      <li class='list'>
        <%= link_to( shops_path(@toukyo), class: 'purchase-btn') do %>
        <%=link_to image_tag "tokyo.png", class:"list-pict" %>
        <span class='list-area'>東京</span>
        <% end %>
      </li>
      <li class='list'>
        <%= link_to( shops_path(@oosaka), class: 'purchase-btn') do %>
        <%= image_tag "oosaka.png", class:"list-pict" %>
        <span class='list-area'>大阪</span>
        <% end %>
      </li>
      <li class='list'>
        <%= image_tag "nagano.png", class:"list-pict" %>
        <span class='list-area'>長野</span>
      </li>
      <li class='list'>
        <%= image_tag "kyoto.png", class:"list-pict" %>
        <span class='list-area'>京都</span>
      </li>
    </ul>
  </div>

  <div class ='prefecture-lists'>
    <div class = "top-list">
      <div class = top-left>
        <div class =title><span class="col-1">北海道・東北</span>
        <div class =prefecture>
          <a href ="https://eatmo.herokuapp.com/shops/search?q%5Btraffic_cont%5D=%E5%8C%97%E6%B5%B7%E9%81%93&q%5Bshop_name_cont%5D=&x=0&y=0">北海道</a>
          <a href ="https://eatmo.herokuapp.com/shops/search?q%5Btraffic_cont%5D=%E9%9D%92%E6%A3%AE&q%5Bshop_name_cont%5D=&x=18&y=19">青森</a>
          <a href ="https://eatmo.herokuapp.com/shops/search?q%5Btraffic_cont%5D=%E7%A7%8B%E7%94%B0&q%5Bshop_name_cont%5D=&x=0&y=0">秋田</a>
          <a href ="https://eatmo.herokuapp.com/shops/search?q%5Btraffic_cont%5D=%E5%B1%B1%E5%BD%A2&q%5Bshop_name_cont%5D=&x=0&y=0">山形</a>
          <a href ="https://eatmo.herokuapp.com/shops/search?q%5Btraffic_cont%5D=%E5%B2%A9%E6%89%8B&q%5Bshop_name_cont%5D=&x=0&y=0">岩手</a>
          <a href ="https://eatmo.herokuapp.com/shops/search?q%5Btraffic_cont%5D=%E5%AE%AE%E5%9F%8E&q%5Bshop_name_cont%5D=&x=0&y=0">宮城</a>
          <a href ="https://eatmo.herokuapp.com/shops/search?q%5Btraffic_cont%5D=%E7%A6%8F%E5%B3%B6&q%5Bshop_name_cont%5D=&x=0&y=0">福島</a>
        </div>
        </div>
      </div>
      <div class = top-center>
        <div class =title><span class="col-1">関東</span>
        <div class =prefecture>
          <a href ="https://eatmo.herokuapp.com/shops/search?q%5Btraffic_cont%5D=%E6%9D%B1%E4%BA%AC&q%5Bshop_name_cont%5D=&x=0&y=0">東京</a>
          <a href ="https://eatmo.herokuapp.com/shops/search?q%5Btraffic_cont%5D=%E7%A5%9E%E5%A5%88%E5%B7%9D&q%5Bshop_name_cont%5D=&x=0&y=0">神奈川</a>
          <a href ="https://eatmo.herokuapp.com/shops/search?q%5Btraffic_cont%5D=%E5%9F%BC%E7%8E%89&q%5Bshop_name_cont%5D=&x=0&y=0">埼玉</a>
          <a href ="https://eatmo.herokuapp.com/shops/search?q%5Btraffic_cont%5D=%E5%8D%83%E8%91%89&q%5Bshop_name_cont%5D=&x=0&y=0">千葉</a>
          <a href ="https://eatmo.herokuapp.com/shops/search?q%5Btraffic_cont%5D=%E6%A0%83%E6%9C%A8&q%5Bshop_name_cont%5D=&x=0&y=0">栃木</a>
          <a href ="https://eatmo.herokuapp.com/shops/search?q%5Btraffic_cont%5D=%E8%8C%A8%E5%9F%8E&q%5Bshop_name_cont%5D=&x=0&y=0">茨城</a>
          <a href ="https://eatmo.herokuapp.com/shops/search?q%5Btraffic_cont%5D=%E7%BE%A4%E9%A6%AC&q%5Bshop_name_cont%5D=&x=0&y=0">群馬</a>
        </div>
        </div>
      </div>
      <div class = top-right>
        <div class =title><span class="col-1">中部</span>
        <div class =prefecture>
          <a href ="https://eatmo.herokuapp.com/shops/search?q%5Btraffic_cont%5D=%E6%84%9B%E7%9F%A5&q%5Bshop_name_cont%5D=&x=0&y=0">愛知</a>
          <a href ="https://eatmo.herokuapp.com/shops/search?q%5Btraffic_cont%5D=%E5%B2%90%E9%98%9C&q%5Bshop_name_cont%5D=&x=0&y=0">岐阜</a>
          <a href ="https://eatmo.herokuapp.com/shops/search?q%5Btraffic_cont%5D=%E9%9D%99%E5%B2%A1&q%5Bshop_name_cont%5D=&x=0&y=0">静岡</a>
          <a href ="https://eatmo.herokuapp.com/shops/search?q%5Btraffic_cont%5D=%E4%B8%89%E9%87%8D&q%5Bshop_name_cont%5D=&x=0&y=0">三重</a>
          <a href ="https://eatmo.herokuapp.com/shops/search?q%5Btraffic_cont%5D=%E6%96%B0%E6%BD%9F&q%5Bshop_name_cont%5D=&x=0&y=0">新潟</a>
          <a href ="https://eatmo.herokuapp.com/shops/search?q%5Btraffic_cont%5D=%E5%B1%B1%E6%A2%A8&q%5Bshop_name_cont%5D=&x=0&y=0">山梨</a>
          <a href ="https://eatmo.herokuapp.com/shops/search?q%5Btraffic_cont%5D=%E9%95%B7%E9%87%8E&q%5Bshop_name_cont%5D=&x=0&y=0">長野</a>
          <a href ="https://eatmo.herokuapp.com/shops/search?q%5Btraffic_cont%5D=%E7%9F%B3%E5%B7%9D&q%5Bshop_name_cont%5D=&x=0&y=0">石川</a>
          <a href ="https://eatmo.herokuapp.com/shops/search?q%5Btraffic_cont%5D=%E5%AF%8C%E5%B1%B1&q%5Bshop_name_cont%5D=&x=0&y=0">富山</a>
          <a href ="https://eatmo.herokuapp.com/shops/search?q%5Btraffic_cont%5D=%E7%A6%8F%E4%BA%95&q%5Bshop_name_cont%5D=&x=0&y=0">福井</a>
        </div>
        </div>
      </div>
    </div>
    <div class = "second-list">
      <div class = top-left>
        <div class =title><span class="col-1">関西</span>
        <div class =prefecture>
          <a href ="https://eatmo.herokuapp.com/shops/search?q%5Btraffic_cont%5D=%E5%A4%A7%E9%98%AA&q%5Bshop_name_cont%5D=&x=0&y=0">大阪</a>
          <a href ="https://eatmo.herokuapp.com/shops/search?q%5Btraffic_cont%5D=%E5%85%B5%E5%BA%AB&q%5Bshop_name_cont%5D=&x=0&y=0">兵庫</a>
          <a href ="https://eatmo.herokuapp.com/shops/search?q%5Btraffic_cont%5D=%E4%BA%AC%E9%83%BD&q%5Bshop_name_cont%5D=&x=0&y=0">京都</a>
          <a href ="https://eatmo.herokuapp.com/shops/search?q%5Btraffic_cont%5D=%E6%BB%8B%E8%B3%80&q%5Bshop_name_cont%5D=&x=0&y=0">滋賀</a>
          <a href ="https://eatmo.herokuapp.com/shops/search?q%5Btraffic_cont%5D=%E5%A5%88%E8%89%AF&q%5Bshop_name_cont%5D=&x=0&y=0">奈良</a>
          <a href ="https://eatmo.herokuapp.com/shops/search?q%5Btraffic_cont%5D=%E5%92%8C%E6%AD%8C%E5%B1%B1&q%5Bshop_name_cont%5D=&x=0&y=0">和歌山</a>
        </div>
        </div>
      </div>
      <div class = top-center>
        <div class =title><span class="col-1">中国・四国</span>
        <div class =prefecture>
          <a href ="https://eatmo.herokuapp.com/shops/search?q%5Btraffic_cont%5D=%E5%B2%A1%E5%B1%B1&q%5Bshop_name_cont%5D=&x=0&y=0">岡山</a>
          <a href ="https://eatmo.herokuapp.com/shops/search?q%5Btraffic_cont%5D=%E5%BA%83%E5%B3%B6&q%5Bshop_name_cont%5D=&x=0&y=0">広島</a>
          <a href ="https://eatmo.herokuapp.com/shops/search?q%5Btraffic_cont%5D=%E9%B3%A5%E5%8F%96&q%5Bshop_name_cont%5D=&x=0&y=0">鳥取</a>
          <a href ="https://eatmo.herokuapp.com/shops/search?q%5Btraffic_cont%5D=%E5%B3%B6%E6%A0%B9&q%5Bshop_name_cont%5D=&x=0&y=0">島根</a>
          <a href ="https://eatmo.herokuapp.com/shops/search?q%5Btraffic_cont%5D=%E5%B1%B1%E5%8F%A3&q%5Bshop_name_cont%5D=&x=0&y=0">山口</a>
          <a href ="https://eatmo.herokuapp.com/shops/search?q%5Btraffic_cont%5D=%E9%A6%99%E5%B7%9D&q%5Bshop_name_cont%5D=&x=0&y=0">香川</a>
          <a href ="https://eatmo.herokuapp.com/shops/search?q%5Btraffic_cont%5D=%E5%BE%B3%E5%B3%B6&q%5Bshop_name_cont%5D=&x=0&y=0">徳島</a>
          <a href ="https://eatmo.herokuapp.com/shops/search?q%5Btraffic_cont%5D=%E6%84%9B%E7%9F%A5&q%5Bshop_name_cont%5D=&x=0&y=0">愛媛</a>
          <a href ="https://eatmo.herokuapp.com/shops/search?q%5Btraffic_cont%5D=%E9%AB%98%E7%9F%A5&q%5Bshop_name_cont%5D=&x=0&y=0">高知</a>
        </div>
        </div>
      </div>
      <div class = top-right>
        <div class =title><span class="col-1">九州・沖縄</span>
        <div class =prefecture>
          <a href ="https://eatmo.herokuapp.com/shops/search?q%5Btraffic_cont%5D=%E7%A6%8F%E5%B2%A1&q%5Bshop_name_cont%5D=&x=0&y=0">福岡</a>
          <a href ="https://eatmo.herokuapp.com/shops/search?q%5Btraffic_cont%5D=%E4%BD%90%E8%B3%80&q%5Bshop_name_cont%5D=&x=0&y=0">佐賀</a>
          <a href ="https://eatmo.herokuapp.com/shops/search?q%5Btraffic_cont%5D=%E9%95%B7%E5%B4%8E&q%5Bshop_name_cont%5D=&x=0&y=0">長崎</a>
          <a href ="https://eatmo.herokuapp.com/shops/search?q%5Btraffic_cont%5D=%E7%86%8A%E6%9C%AC&q%5Bshop_name_cont%5D=&x=0&y=0">熊本</a>
          <a href ="https://eatmo.herokuapp.com/shops/search?q%5Btraffic_cont%5D=%E5%A4%A7%E5%88%86&q%5Bshop_name_cont%5D=&x=0&y=0">大分</a>
          <a href ="https://eatmo.herokuapp.com/shops/search?q%5Btraffic_cont%5D=%E5%AE%AE%E5%B4%8E&q%5Bshop_name_cont%5D=&x=0&y=0">宮崎</a>
          <a href ="https://eatmo.herokuapp.com/shops/search?q%5Btraffic_cont%5D=%E9%B9%BF%E5%85%90%E5%B3%B6&q%5Bshop_name_cont%5D=&x=0&y=0">鹿児島</a>
          <a href ="https://eatmo.herokuapp.com/shops/search?q%5Btraffic_cont%5D=%E6%B2%96%E7%B8%84&q%5Bshop_name_cont%5D=&x=0&y=0">沖縄</a>
        </div>
        </div>
      </div>
    </div>
    </div>
    
  <%# エリアから探す部分 %>

  <%# 口コミ一覧 %>
  <div class='review-contents'>
    <div class='select-index'>
    <h2 class='title'>
      口コミからお店を探す
    </h2>
    </div>
    <div class="subtitle" >
      新規口コミ一覧
    </div>
    <ul class='review-lists'>
      <% @reviews.each do |review| %>
      <li class='list'>
        <%= link_to shop_path(review.shop.id) do %>
        <div class='item-img-content'>
          <%= image_tag review.shop.images[0], class: "review-img" %>
        </div>
        <div class='review-info'>
          <h3 class='review-name'>
            <%= review.title %>      <%= review.user.nickname%>
          </h3>
        </div>
        <div id="star-rate<%= review.id%>"></div>  
          <script>
            $('#star-rate<%= review.id%>').raty({
            size      : 36,
            starOff   : '<%= asset_path('star-off.png') %>',
            starOn    : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= review.rate %>,
            });
          </script>
        <% end %>
      <% end %>
      </li>
    </ul>
  </div>
  <%# 口コミ一覧 %>

<%= render "shared/footer" %>